.topline {
  height: 40px;
  background-color: $c-text;
  z-index: 300;
  position: relative;
  width: 100%;
  padding: 0 15px 0 20px;
  color: $c-white;
  transition: transform $t-std;
  @include flex;

  @include media-lg {
    padding: 0 10px 0 20px;
  }

  &.hide {
    transform: translateY(-40px);
  }

  &__info {
    @include font($fs: 12px, $lh: 1.6);
    margin-right: 20px;
    overflow: hidden;
    white-space: nowrap;
    color: $c-white;
    border: none;
    transition: color $t-std;

    @include media-md {
      @include font($fs: 14px, $lh: 1.6);
    }

    a {
      color: $c-white;
      line-height: 1;

      @include hover {
        color: $c-white;
        border-bottom: 1px solid $c-white;
      }
    }
  }

  &__close {
    margin-left: auto;
    @include flex($ai: center);
    transition: opacity $t-std;

    button {
      display: flex;
    }

    @include hover {
      opacity: 0.8;
    }

    svg {
      transform: rotate(45deg);
    }

    svg path {
      stroke: $c-white;
    }
  }
}
