.settings {
  &__title {
    @include font($fs: 32px, $lh: 1.2, $fw: 500);
  }

  &__description {
    margin-top: 16px;

    a {
      border-bottom: 1px solid $c-text;

      @include hover {
        border-color: $c-brand;
      }
    }
  }

  &__block {
    margin-top: 32px;
    max-width: 580px;
    flex-shrink: 0;

    @include media-sm {
      width: 580px;
    }
  }

  &__row {
    @include flex($fd: column, $ai: stretch);

    @include media-lg {
      flex-direction: row;
    }
  }

  &__aside {
    margin-bottom: 50px;
    order: -1;

    @include media-lg {
      margin-left: 80px;
      margin-bottom: 0;
      order: 1;
    }

    @include media-xl {
      margin-left: 140px;
    }
  }

  &__avatar {
    cursor: pointer;
    position: relative;
    @include flex;
    width: 160px;
    height: 160px;
  }

  &__avatar-preview {
    width: 160px;
    height: 160px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 50%;
    }

    @include media-lg {
      @include hoverDevice {
        .settings__avatar-edit-btn {
          display: none;
        }

        @include hover {
          .settings__avatar-edit-btn {
            display: flex;
            animation: fadeIn 0.3s ease forwards;
          }
        }
      }
    }
  }

  &__avatar-edit-btn {
    @include absolute($t: 50%, $l: 50%);
    transform: translate(-50%, -50%);
  }

  &__avatar-input {
    display: none;
  }

  &__avatar-text {
    margin-top: 8px;
    @include font($fs: 14px, $lh: 1.6);
    max-width: 180px;
  }

  &__avatar-btn {
    margin-top: 32px;
  }

  // balance

  &__label {
    @include font($fs: 14px, $lh: 1.6, $fw: 600);
    margin-bottom: 8px;
  }

  &__wallet-field {
    position: relative;
  }

  &__wallet-input {
    input {
      padding-right: 120px;
    }
  }

  &__wallet-error {
    font-size: 12px;
    color: $c-error;
  }

  &__balance-input-btn {
    @include absolute($t: calc(50% + 15px), $r: 10px);
    transform: translateY(-50%);
  }

  &__item {
    margin-top: 40px;
  }

  &__btn {
    + .settings__btn {
      margin-left: 16px;
    }
  }

  // notifications

  &__bid-input {
    @include flex;
    margin-bottom: 8px;

    .settings__bid-info {
      padding: 30px 0 0 16px;
    }
  }

  &__bid-info {
    @include font($fs: 14px, $lh: 1.6, $c: $c-disabled-text);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
